<p id="notice"><%= notice %></p>

<div class="center">
  <h1>Reportes de Plagas del Surco <%= @groove.id %></h1>
    <%= render 'form', plague_report: @plague_report %>
    <div class="center">
      <%if @plague_reports.present? %>
        <%= render 'graphics/column_chart', plague_report: @plague_report %>
      <%else%>
        </br>
        <h2 class="center">No se hallaron hay reportes en este surco</h2>
      <%end %>
    </div>
</div>