<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>


<div id="container1" style="height: 400px; min-width: 500px; max-width: 600px; margin: 0 auto"></div>
<script type="text/javascript">
    Highcharts.chart('container1', {

    chart: {
        type: 'heatmap',
        marginTop: 40,
        marginBottom: 80,
        plotBorderWidth: 1
    },


    title: {
        text: 'Plantas afectadas por surco'
    },

    colorAxis: {
        min: 0,
        minColor: '#31B404',
        maxColor: '#8A0808'
    },

    legend: {
        align: 'right',
        layout: 'vertical',
        margin: 0,
        verticalAlign: 'top',
        y: 25,
        symbolHeight: 280
    },

    tooltip: {
        formatter: function () {
        return '<b>' + this.series.xAxis.categories[this.point.x] + '</b> sold <br><b>' +
            this.point.value + '</b> items on <br><b>' + this.series.yAxis.categories[this.point.y] + '</b>';
        }
    },

    series: [{
        name: 'Mapa de calor surco con ubicación',
        borderWidth: 1,
        data: gon.heatline_data,
        dataLabels: {
        enabled: false,
        color: '#FFFFFF'
        }
    }]

    });
</script>